{% extends 'layout.html' %}

{% block body %}

<nav class="navbar navbar-expand-lg bg-body-tertiary"  style="background-color: #5a441a;">
    <div class="container-fluid">

<ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="{{ url_for('change_language', lang='en') }}">En</a>
   </li>
    <li class="nav-item">
      <a class="nav-link active" href="{{ url_for('change_language', lang='pt') }}">Pt</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active"   href="{{ url_for('change_language', lang='es') }}">Es</a>
    </li>
  </ul>

</div>
</nav>


<nav class="navbar fixed bg-white navbar-light justify-content-between">
  <div class="d-flex justify-content align-items-center">
  <h1 class="text-start display-5">Conceitos</h1> 
  <a href="/adicionarconceito"><i class="fa-solid fa-plus fa-2xl text-dark" style="margin-left: 15px;"></i></a>
  </div>
  <form class="form-inline" action="{{ url_for('pesquisa') }}" method="GET">
      <div class="input-group">
          <input class="form-control mr-sm-2" type="search" name="query" placeholder="Search" aria-label="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </div>
  </form>
</nav>
<a id="back-to-top" href="#" style="margin-bottom: 90px; width: fit-content; margin-left: 93%;" class="fixed-bottom btn btn-secondary btn-lg back-to-top" role="button"><i class="fas fa-chevron-up"></i></a>

{% if pesquisa %}
<h3>Resultados para "{{pesquisa}}"</h3>
<p>{{res}} resultados encontrados</p>
<table class="table table-hover sticky-header">
    <thead class="thead-light">
        <tr>
        <th scope="col"><h2 class="text-start display-5">Conceito</h2></th>
        <th scope="col"><h2 class="text-start display-5">Definição</h2></th>
        </tr>
    </thead>
    <tbody>
        {%for conceito in conceitos%}
            <tr>
                <td><a href="/conceitos/{{conceitos[conceito]["original"]}}" class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">{{conceito | safe}}</a></td>
                <td>{{conceitos[conceito]["desc"] | safe}}</td>
            </tr>
        {%endfor%}
{% else %}
<br>
<br>
<table id="dados"  class="table table-hover sticky-header">
    <thead class="thead-light">
        <tr>
          <th scope="col"><h2 class="text-start display-5">Índice</h2></th>
          <th scope="col"><h2 class="text-start display-5">Conceito</h2></th>
          <th scope="col"><h2 class="text-start display-5">Fonte(s)</h2></th>
          <th scope="col"><h2 class="text-start display-5">Semelhante(s)</h2></th>
        </tr>
    </thead>
    <tbody>
        {% for conceito in conceitos %}
        <tr>
            <td><a class="list-group-item list-group-item-action" href="/conceitos/{{lang}}/{{conceito}}">{{conceito}}</a></td>
            <td>{{conceitos[conceito].Termo}}</td>
            <td>{{', '.join(conceitos[conceito].Fontes)}}</td>
            <td>{{', '.join(conceitos[conceito].Sinonimos)}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
    
{% endblock %}


